@model IEnumerable<SocialGameWebSite.Models.Relacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estadorelacao.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user1ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user2ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estadorelacao.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user1ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user2ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
